<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品预测</title>
</head>

<body>
<div align="center">
    订单编号：  15692225252983527<br/>
    订购人： 测试用户2<br/>
    收货地址： 杭州市西湖区xx小区x幢419
    <hr/>
    <p>商品名称|商品数量</p>
    <p>商品A|956</p>
    <p>商品B|120</p>
    <p>商品C|142</p>
    <p>商品D|1420</p>
    <hr/>
    <button>确认信息,开始估算采购时间</button>
    <hr/>
    <span>提示：商品库存不足，仍缺少如下原料，请咨询原料采购时间并填写</span><br/>
    <p>商品A|原料A1|缺少480件</p>
    采购时间：   <input type="text"> 天
    <p>商品A|原料A2|缺少47件</p>
    采购时间：   <input type="text"> 天
    <p>商品C|原料C1|缺少80件</p>
    采购时间：   <input type="text"> 天
    <p>商品D|原料D1|缺少56件</p>
    采购时间：   <input type="text"> 天
    <hr/>
    <button>确认信息,开始评估</button>
    <hr/>
    经过评估，您的订单预计在2022年9月12日可以完成<br/>
    <hr/>
    受疫情影响，评估时间可能与实际完成时间有误差，仅供参考
</div>

</body>
</html>